* {
  box-sizing: border-box;
}

/*links*/
a {
color: brown;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

checkbox {
font-family: 'PT Sans';
}

nav img {
width: 40px;
height: 40px;
display: inline-block;
cursor: context-menu;
margin: 10px;
}

#mainlogo img{
width: 30%;
height: 30%;
clear: none;
margin: 0 auto;
/*position: relative;*/
}

header {
  position:static;
  background-color: hsla(19, 63%, 50%, 0.5);
  /*background-color: hsla(43, 100%, 57%, 0.4);*/
  /*display: grid;
  height: 100px;
  width: auto;*/

}

.ingredient,
.step,
.nutrition h3,
#frosting {
  font-family: 'Merriweather', serif;
}

main h1 {
  font-family: lobster;
  font-size: 45px;
}

.browniesimage {
  border-radius: 5px;
  width:60%;
  height: 35%;
  transition: .5s ease;
  margin: 10px, 10px, 5px, 10px;
  display: block;
}

main {
  background-color: hsla(60, 56%, 91%, 0.5);
}
.watch {
  z-index: 2;
  border-radius: 4px;
  width: 15%;
  height: 15%;
  }

.browniesimage:hover  {
  opacity: 0.4;
}

.middle{
  transition: .5s ease;
  position: relative;
  top: 80%;
  left: 70%;
}

.browniesimage {
  display: block;
}

#profile {
  border-radius: 50%;
  width: 7%;
  height: 7%;
}

.searchrecipes #textarea {
  min-width: 250px;
  min-height: 22px;
}

input#submit {
background: white;
padding: 0px;
height: 16px;
width: 16px;
}

.steps {
  font-family: 'PT Sans';
}

.nutrition p {
font-family: 'PT Sans';
}

.see-other img{
width: 40%;
height: 40%;
margin: 0px 0px;
display: flex;
flex-direction: column;
}

nav img,
nav figure#mainlogo,
header p,
header input{
  display: inline-block;
}

footer {
  background-color: hsla(132, 9%, 89%, 0.8);
/*background-color: hsl(60, 56%, 93%);*/
}

#above-footer-line.solid {
  border-top: 3px solid hsla(14, 65%, 45%, 0.5);
}

#footer-logo {
width: 20%;
height: 10%;
padding: 10px;
clear: both;
}

footer h4 {
  font-family: 'Public Sans';
  font-size: 14px;
}

footer h3 {
font-family: 'Carter One';
color: hsla(0, 0%, 0%, 0.85);
}


footer .subscribe-icons img {
border-radius: 50%;
width: 30px;
height: 30px;
margin: 10px;
}

#below-footer-line.solid {
  border-top: 1px solid hsla(0, 0%, 73%, 0.5);
}

.vl {
  border-left: 1px solid grey;
  height: 200px;
  position: absolute;
  left: 50%;
}

/*copyright*/

#meredith {
width: 18%;
height: 18%;
margin: 20px auto;
}

.copyright {
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.copyright p {
  font-family: Lato;
  font-size: 12px;
justify-content: center;
margin: 0 auto;
overflow: scroll;
}