* {
  box-sizing: border-box;
}

nav img {
width: 40px;
height: 40px;
display: inline-block;
cursor: context-menu;
}

#mainlogo img{
width: 30%;
height: 30%;
display: inline-block;
clear: none;
/*position: relative;*/
}

header {
  position:static;
  /*background-color: hsla(43, 100%, 57%, 0.4;*/
  background-color: hsla(352, 19%, 46%, 0.2);

}

.ingredient,
.step,
.nutrition h3 {
  font-family: 'Merriweather', serif;
}

.browniesimage {
  border-radius: 5px;
  width:500px;
  height: 300px;
  transition: .5s ease;
  margin: 10px, 10px;
  display: block;
}

main {
  /*background-color: hsla(45, 97%, 75%, 0.5);*/
  background-color: beige;
}
.watch {
  background-color: hsla(0, 0%, 22%, 1);;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  border: 50px 50px;
  z-index: 2;
  }

.image:hover img {
  opacity: 0.4;
}

.image:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  display: block;
}

#video1 {
  z-index: -1;
}

#profile {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.searchrecipes #textarea {
  min-width: 250px;
  min-height: 22px;
}

input#submit {
background: white;
padding: 0px;
height: 16px;
width: 16px;
}

.nutrition h3 {

}

.chocolate-images img{
width: 40%;
height: 40%;
margin: 0px 0px;
display: flex;
flex-direction: column;
}

nav img,
nav figure#mainlogo,
header p,
header input{
  display: inline-block;
}

footer {
background-color: hsla(45, 97%, 75%, 0.5)
}

#footer-logo {
width: 30%;
height: 30%;
}

#meredith {
width: 30%;
height: 30%;
}

footer .subscribe-icons img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/*
.subscribe-icons img#facebook-hover,
.subscribe-icons img#twitter-hover,
.subscribe-icons img#instagram-hover,
.subscribe-icons img#pinterest-hover {
  display: none;  
}
.subscribe-icons:hover img#facebook-hover,
.subscribe-icons:hover img#twitter-hover,
.subscribe-icons:hover img#instagram-hover,
.subscribe-icons:hover img#pinterest-hover {
  display: inline-block; 
  z-index: 2; 
}

.subscribe-icons:hover img#facebook,
.subscribe-icons:hover img#twitter,
.subscribe-icons:hover img#instagram,
.subscribe-icons:hover img#pinterest {
  display: none;  
}*/